k-living-lens-workflow.json
{
  "name": "ver4",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9c920477-74e0-4aaa-a5ad-206bf80e34da",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -848,
        -176
      ],
      "id": "b7d8e1e3-015e-4a0c-abe4-32667febcfe4",
      "name": "Webhook",
      "webhookId": "9c920477-74e0-4aaa-a5ad-206bf80e34da"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4e56cb15-ba31-49ce-b751-5c09b2b5d86a",
              "leftValue": "={{ $json.body.textPayload }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -688,
        32
      ],
      "id": "2af05a7d-3b84-41aa-93b8-4b472084cb50",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -368,
        -176
      ],
      "id": "967d2f98-c1c0-47cb-987c-69802d04a203",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e5f97fb9-4b24-45bd-bef0-05c775426e4d",
              "name": "kakaoMapUrl",
              "value": "={{\n  (function() {\n    let name = $json.keyInformation?.find(i => i.label.toLowerCase().includes(\"name\") || i.label.includes(\"병원명\") || i.label.includes(\"institution\"))?.value || \"\";\n    let addr = $json.keyInformation?.find(i => i.label.toLowerCase().includes(\"address\") || i.label.includes(\"주소\"))?.value || \"\";\n    let query = (name + \" \" + addr).trim();\n    return query ? \"https://map.kakao.com/?q=\" + encodeURIComponent(query) : \"https://map.kakao.com/\";\n  })()\n}}",
              "type": "string"
            },
            {
              "id": "4aefd05b-976c-4e45-b4ee-f2ea48b6f08f",
              "name": "googleMapUrl",
              "value": "={{\n  (function() {\n    let name = $json.keyInformation?.find(i => i.label.toLowerCase().includes(\"name\") || i.label.includes(\"병원명\") || i.label.includes(\"institution\"))?.value || \"\";\n    let addr = $json.keyInformation?.find(i => i.label.toLowerCase().includes(\"address\") || i.label.includes(\"주소\"))?.value || \"\";\n    let query = (name + \" \" + addr).trim();\n    return query ? \"https://www.google.com/maps/search/?api=1&query=\" + encodeURIComponent(query) : \"https://www.google.com/maps\";\n  })()\n}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        96,
        96
      ],
      "id": "cc9a43aa-6f32-45ea-85df-b2ce7ad666cf",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\n  {\n    \"isSecureProcessed\": $('Webhook').first().json.body?.isSecure === \"true\" || $('Webhook').first().json.body?.isSecure === true ? true : false,\n    \"documentType\": $('Parse AI Data').first().json?.documentType,\n    \"easySummary\": $('Parse AI Data').first().json?.easySummary,\n    \"importance\": $('Parse AI Data').first().json?.importance,\n    \"keyInformation\": $('Parse AI Data').first().json?.keyInformation,\n    \"originalTextSnippet\": $('Parse AI Data').first().json?.originalTextSnippet,\n    \"actionChecklist\": $('Parse AI Data').first().json?.actionChecklist,\n    \"calendar\": {\n      \"status\": $json.status || \"success\",\n      \"googleCalendarLink\": $json.htmlLink\n    },\n    \"mapLinks\": {\n      \"kakaoMap\": $('Edit Fields').first().json?.kakaoMapUrl || null,\n      \"googleMap\": $('Edit Fields').first().json?.googleMapUrl || null\n    }\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        464,
        96
      ],
      "id": "088181b3-7800-4d99-a592-f40bad8dfe10",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "c6f6dfa0808092f60420254902bf66d876b6648925a1aed1030618ac53c0a8c4@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "upstage 해커톤"
        },
        "start": "={{ \n  (() => {\n    const info = $('Parse AI Data').item.json?.keyInformation || [];\n    const dateObj = info.find(item => {\n      const label = item.label ? item.label.toLowerCase() : '';\n      return (label.includes(\"date\") || label.includes(\"period\") || label.includes(\"due\")) && !label.includes(\"cost\") && !label.includes(\"amount\");\n    });\n    \n    if (dateObj && dateObj.value) {\n      const match = dateObj.value.match(/\\d{4}-\\d{2}-\\d{2}/);\n      if (match) return match[0] + \"T09:00:00\";\n      try {\n        const parsedDate = new Date(dateObj.value);\n        if (!isNaN(parsedDate.getTime())) {\n          return parsedDate.toISOString().split('T')[0] + \"T09:00:00\";\n        }\n      } catch(e) {}\n    }\n    return $now.plus({ days: 1 }).toFormat('yyyy-MM-dd') + \"T09:00:00\";\n  })()\n}}",
        "end": "={{ \n  (() => {\n    const info = $('Parse AI Data').item.json?.keyInformation || [];\n    const dateObj = info.find(item => {\n      const label = item.label ? item.label.toLowerCase() : '';\n      return (label.includes(\"date\") || label.includes(\"period\") || label.includes(\"due\")) && !label.includes(\"cost\") && !label.includes(\"amount\");\n    });\n    \n    if (dateObj && dateObj.value) {\n      const match = dateObj.value.match(/\\d{4}-\\d{2}-\\d{2}/);\n      if (match) return match[0] + \"T10:00:00\";\n      try {\n        const parsedDate = new Date(dateObj.value);\n        if (!isNaN(parsedDate.getTime())) {\n          return parsedDate.toISOString().split('T')[0] + \"T10:00:00\";\n        }\n      } catch(e) {}\n    }\n    return $now.plus({ days: 1 }).toFormat('yyyy-MM-dd') + \"T10:00:00\";\n  })()\n}}",
        "additionalFields": {
          "description": "=💰 Amount Due: {{ $json.keyInformation?.find(item => item.label.toLowerCase().includes(\"amount\") || item.label.toLowerCase().includes(\"due\") || item.label.includes(\"금액\") || item.label.includes(\"비용\"))?.value || \"Check details\" }}\n🏥 Institution: {{ $json.keyInformation?.find(item => item.label.toLowerCase().includes(\"name\") || item.label.includes(\"병원명\") || item.label.includes(\"institution\"))?.value || \"Check details\" }}\n📝 Easy Summary: {{ $json.easySummary }}",
          "summary": "={{ \"[K-Health] \" + ($json.keyInformation?.find(item => item.label.toLowerCase().includes(\"name\") || item.label.includes(\"병원명\") || item.label.includes(\"institution\"))?.value || \"Medical Bill\") + \" Payment Reminder\" }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        272,
        96
      ],
      "id": "fc6bd4e1-1e62-415c-85f7-7c4c05c1f0cc",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "unr042ECbmocwDZ1",
          "name": "Google Calendar OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "83398b2b-262d-4c9b-9696-71be6564bedc",
              "leftValue": "={{ $('Webhook').item.json.body.isSecure }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        -176
      ],
      "id": "d6114fa0-a965-46e8-998e-2cce222425d1",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "// $input.first()를 사용해 첫 번째 입력 아이템의 json 데이터를 바로 가져옵니다.\nlet aiText = $input.first().json.choices[0].message.content;\nlet parsedJson = JSON.parse(aiText);\n\nreturn parsedJson;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        96
      ],
      "id": "dc111005-6eb0-4a05-ade7-339e5dd2d731",
      "name": "Parse AI Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.upstage.ai/v1/document-ai/document-parse",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer up_OHg2uDboDmPcwBFPDcbaHpumzRiZE"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "document",
              "inputDataFieldName": "File"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -576,
        -176
      ],
      "id": "a840f50f-2c70-4239-9f8b-c7c7bf46e37d",
      "name": "Upstage document parse"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.upstage.ai/v1/solar/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer up_OHg2uDboDmPcwBFPDcbaHpumzRiZE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    \"model\": \"solar-pro3-260323\",\n    \"messages\": [\n      {\n        \"role\": \"system\",\n        \"content\": \"당신은 개인정보 보호 전문가입니다. 주어진 텍스트에서 오직 '환자 이름'과 '주민등록번호' 두 가지만 찾아 [OOO] 또는 [MASKED]로 치환하세요.\\n\\n[⚠️ 절대 준수 규칙]\\n1. 진료일자, 방문 횟수, 진료과목(예: 정형외과), 진료비 금액, 영수증 번호는 절대 마스킹하지 말고 원본 그대로 유지하세요.\\n2. 날짜나 금액 숫자를 개인정보로 오인하여 가리는 일이 결코 없어야 합니다.\"\n      },\n      {\n        \"role\": \"user\",\n        \"content\": $json.content.text\n      }\n    ]\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        32,
        -192
      ],
      "id": "7ab4d566-a36d-48a6-b73f-31ecb1d20eca",
      "name": "Upstage mark for security"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "emergency-call",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -784,
        304
      ],
      "id": "aa8957ed-6c2e-447d-ac8f-d5dd6cdabcdf",
      "name": "Webhook1",
      "webhookId": "58af1c56-1d28-4c25-81bb-8dcc49701a78"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.bland.ai/v1/calls",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authorization",
              "value": "org_608666875934ef20140061f72d97132b64e0bafa133c41ceb9380bd8d86291e0f5b9c8f8597eb716a22769"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    \"phone_number\": \"+821096434027\",\n    \"task\": \"당신은 응급 의료 AI 어시스턴트입니다. 매우 크고(VERY LOUD), 명확하며, 확신에 찬 목소리로 말하세요. 응급 상황에서 브리핑을 하듯 목소리에 힘을 실어 쩌렁쩌렁하게 전달해야 합니다. 다음 대본을 한국어로 최고의 명확성과 에너지를 담아 자연스럽게 읽어주세요: '안녕하세요 허서준님, 긴급 의료 AI 어시스턴트 발신 전화입니다. 환자분의 진료 요약 정보입니다. \" + ($('Webhook1').first().json.body?.easySummary || \"요약 정보를 불러올 수 없습니다.\") + \" 자세한 조치 사항은 웹 대시보드를 확인해 주시기 바랍니다. 감사합니다.'\",\n    \"voice\": \"Florian\",\n    \"language\": \"ko\"\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -608,
        304
      ],
      "id": "2b803ba7-ca1f-41fd-9c30-2d4bfe54153c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\",\n  \"message\": \"AI 긴급 전화 발신이 성공적으로 요청되었습니다.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -432,
        304
      ],
      "id": "488364ea-3317-4eb8-9e18-6320f4bb2c4f",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.upstage.ai/v1/solar/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer up_OHg2uDboDmPcwBFPDcbaHpumzRiZE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  {\n    \"model\": \"solar-pro2-251215\",\n    \"messages\": [\n      {\n        \"role\": \"system\",\n        \"content\": `너는 한국의 의료, 보험, 공공 문서를 외국인에게 쉽게 설명해 주는 전문 AI 어시스턴트야.\n제공된 '분석할 문서 원문 텍스트'를 철저히 분석해서, 사용자가 지정한 '사용자가 선택한 언어'로 번역 및 요약해줘.\n\n[출력 규칙]\n1. 반드시 마크다운(\\`\\`\\`json 같은 코드 블록 포맷 포함)이나 일반 텍스트 없이 오직 순수한 JSON 객체 하나만 반환해라.\n2. 모든 텍스트 값(easySummary, label, value, actionChecklist 내부 문장들)은 사용자가 선택한 언어로 번역되어야 한다. 단, 원문 핵심 문장(originalTextSnippet)은 한국어 원문 그대로 보여준다.\n3. 중요도(importance)는 문서의 시급성에 따라 'Urgent', 'Important', 'Informational' 중 하나로만 지정해라.\n\n[응답 JSON 포맷 구조]\n{\n  \"documentType\": \"여기에 분석된 문서의 정확한 종류 입력 (예: National Health Insurance Bill)\",\n  \"easySummary\": \"이 문서가 무엇인지 외국인이 이해하기 쉽게 2~3문장으로 요약 설명\",\n  \"importance\": \"Urgent\", \n  \"keyInformation\": [\n    {\n      \"label\": \"Amount to Pay\",\n      \"value\": \"78,450 KRW\"\n    },\n    {\n      \"label\": \"Due Date\",\n      \"value\": \"June 10, 2026\"\n    }\n  ],\n  \"originalTextSnippet\": \"한국어 원문 고지서에서 가장 핵심이 되는 문장이나 금액/날짜가 적힌 부분 발췌\",\n  \"actionChecklist\": {\n    \"today\": [\"오늘 바로 사용자가 확인하거나 행동해야 할 일 리스트\"],\n    \"beforeDeadline\": [\"마감 전까지 꼭 납부/제출/방문해야 할 일 리스트\"],\n    \"materialsNeeded\": [\"필요한 준비물 (예: 신분증, 고지서, 은행 앱 등)\"],\n    \"precautions\": [\"연체나 미납 시 불이익, 주의사항 안내\"]\n  }\n}`\n      },\n      {\n        \"role\": \"user\",\n        \"content\": `사용자가 선택한 언어: ${$('Webhook').item.json.body?.language || 'English'}\n사용자가 선택한 문서 유형: ${$('Webhook').item.json.body?.documentType || 'Auto-detect'}\n\n분석할 문서 원문 텍스트:\n\"\"\"\n${$json.choices?.[0]?.message?.content || $json.content?.html || $json.content?.markdown || $json.content?.text || $('Webhook').item.json.body?.textPayload}\n\"\"\"`\n      }\n    ],\n    \"response_format\": { \"type\": \"json_object\" }\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -288,
        96
      ],
      "id": "189cdb2e-dbc5-43c2-a47c-f16287ffa494",
      "name": "Solar LLM"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Upstage document parse",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Upstage mark for security",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Solar LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Data": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upstage document parse": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upstage mark for security": {
      "main": [
        [
          {
            "node": "Solar LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Solar LLM": {
      "main": [
        [
          {
            "node": "Parse AI Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "eedd8be7-3866-433c-bb1c-fb5ef5c1ef1e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a5f17cb0fa4f0b5677ffcda5e389d4d40e3a7bf4973c0ed76a000a3b8282e796"
  },
  "id": "KaSyEJHp0I9mnm6k",
  "tags": []
}